<div class="separator"></div>
<!-- Header -->
<div class="separators"></div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="article clear-left col-lg-6">

            <div class="container">
                <div class="cadre ">
                    <div class="backgroundTitle"></div>
                    <form (ngSubmit)="onSubmit(clientForm.value);" [formGroup]="clientForm">
                        <div class="form-group">

                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="text" placeholder="Entrez votre nom" class="form-control" formControlName="firstNameCustomer" name="firstNameCustomer" id="name" />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.firstNameCustomer.valid || clientForm.controls.firstNameCustomer.untouched">veuillez entrer votre nom</span>


                        <div class="form-group">

                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="text" placeholder="Entrez votre prenom" class="form-control" formControlName="lastNameCustomer" name="lastNameCustomer" id="pname" />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.lastNameCustomer.valid || clientForm.controls.lastNameCustomer.untouched">veuillez entrer votre prenom</span>
                        <div class="form-group">

                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="email" placeholder="Entrez votre mail" class="form-control" formControlName="emailAddress" name="emailAddress" id="title" />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.emailAddress.valid || clientForm.controls.emailAddress.untouched">veuillez entrer une adresse email valide</span>
                        <span *ngFor="let item of collection">

                        <span *ngIf="item.status == 0" class ="text-danger">un client avec cette adresse email existe deja</span>
                        <span *ngIf="item.status == 1" class="text-danger"></span>
                        </span>

                        <div class="form-group">

                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="password" placeholder="Entrez votre mot de passe" class="form-control" formControlName="password" name="password" id="title" />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.password.valid || clientForm.controls.password.untouched">veuillez entrer un mot de passe</span>
                        <div class="form-group">

                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="text" placeholder="Entrez votre Telephone" class="form-control" formControlName="phoneNumber" name="phoneNumber" id="title" />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.phoneNumber.valid || clientForm.controls.phoneNumber.untouched">veuillez entrer votre numero de telephone</span>
                        <div class="form-group ">

                            <a [routerLink]="['../sessionCostumer']"><button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Creer mon compte</button>
                            </a>
                            <button class="btn btn-danger ">annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clear-both"></div>
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>suivre des sites profesionnelles</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</aside>

<!-- /.banner -->