<!-- Navigation -->
<div class="nav">
    <div class="navbar navbar-defaultt navbar-fixed-top  navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a [routerLink]="['../home']"> Accueil</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['../services']" id="themes">services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="../default/">conseiller d'orientation</a></li>
                            <li class="divider"></li>
                            <li><a href="../cerulean/">offres de bourses</a></li>
                            <li><a href="../yeti/">offres d'emplois</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['../contacts']">Contacts</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['../about']" id="download">A propos <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="">navigation</a></li>
                            <li class="divider"></li>
                            <li><a href="">presentation</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [routerLink]="['../loginCostumer']"><span class="glyphicon glyphicon-user"></span> se connecter</a>
                    </li>
                    <li>
                        <a [routerLink]="['../account']"><span class="glyphicon glyphicon-user"></span> creer un compte client</a>
                    </li>
                </ul>
                <form class="navbar-form pull-right">
                    <input type="search" name="" class="input-small form-control" placeholder="Recherche">
                    <button class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>Rechercher</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="separator"></div>
<!-- Header -->
<div class="separators"></div>
<div class="container back">
    <!--navigaton side-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Page Content -->
    <div class="row main">
        <section class="section-nav-side-menu">
            <div class="nav-side-menu">
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#products" class="collapsed active">
                            <a href="#"><i class="fa fa-gift fa-lg"></i>s'abonner <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li><a href="#">offre d'emploi</a></li>
                            <li><a href="#">offre de stage</a></li>
                            <li><a href="#">offre de bourse</a></li>
                            <li><a href="#">conseiller d'orientation</a></li>
                        </ul>

                    </ul>
                </div>
            </div>
        </section>
        <section class="section-article">
            <div class="article clear-left col-lg-6" id="ourOffer">
                <div id="body-right">

                    <div class="box">
                        <img src="https://previews.123rf.com/images/coramax/coramax1209/coramax120900095/15117889-3d-personnes-homme-personne-lit-un-livre-le-dos-appuy-contre-une-pile-de-livres-Banque-d%27images.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres de bourse</h2>

                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="https://www.babelio.com/users/liste_Les-livres-les-plus-attendus-de-la-rentree-littera_9705.jpeg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres stage</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQaHRv5z8jmlvreNfWXSEiQ-lMDB7phBZ6TQKrQHpIDiLjQ-1k" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres d'emploi</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="http://www.enviedecrire.com/wp-content/uploads/ecrire-un-livre-jeunesse.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>programmes scolaire et academique</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="http://acheter.mon-livre-en-ligne.com/wp-content/uploads/sites/3/2015/01/Acheter-mon-livre-en-ligne-collection-librairie-livres1.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2> les specialités scolaire et academique</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-pub">
            <div class="content-aside  col-lg-3">

                <h3 class="pub">publicité </h3>

            </div>
        </section>
    </div>
</div>
<div class="clear-both"></div>

<div id="newsletter"></div>
<!-- /.banner -->
<!-- Zone reserver aux modals-->
<!-- -->