<div class="separator">
</div>
<!--navigaton side-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a> <i class="glyphicon glyphicon-off"></i>se deconnecter <span class="arrow"></span></a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i>consulter les offres <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">offre d'emploi</a></li>
                <li><a href="#">offre de stage</a></li>
                <li><a href="#">offre de bourse</a></li>
                <li><a href="#">conseiller d'orientation</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a [routerLink]="['../basket']"><i class="fa fa fa-lg"></i>gerer son panier<span class="arrow"></span></a>
            </li>


            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a [routerLink]="['../bookshop']"><i class="fa fa-globe fa-lg"></i> Librairie <span class="arrow"></span></a>
            </li>

        </ul>
    </div>
</div>
<div class="separators"></div>
<!-- Page Content -->
<div class="row">
    <div *ngFor="let item of collectionJson">
        <div class="prod_box">
            <div class="product_title"><a href="#">{{ item.id}}</a></div>
            <div class="product_img">
                <a href="#">{{ item.userId}}</a>
            </div>
            <div class="prod_price"><span class="reduce">{{ item.title}}</span></div>
            <button class="btn btn-danger" (click)=addInBasket()> <a [routerLink]="['../basket']" >ajouter au panier</a></button>
            <button class="btn btn-primary"> <a href="aheter">Acheter</a> </button>
        </div>

    </div>






</div>
<div class="clear-both"></div>