<div class="separator"></div>
<!-- Header -->
<div class="separators"></div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="article clear-left col-lg-6">

            <div class="container">
                <div class="cadre">
                    <form (ngSubmit)="onSubmit(clientForm.value);" [formGroup]="clientForm">

                        <div class="form-group">
                            <label for="email" class="cols-lg-2 control-label">email</label>
                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="email" class="form-control" formControlName="emailAddress" name="emailAddress" id="title" placeholder=" " />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.emailAddress.valid || clientForm.controls.emailAddress.untouched">veuillez entrer une adresse email valide</span>
                        <div class="form-group">
                            <label for="name" class="cols-lg-2 control-label">mot de passe</label>
                            <div class="cols-lg-8">
                                <div class="input-group">
                                    <input type="password" class="form-control" formControlName="password" name="password" id="title" placeholder=" " />
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" [hidden]="clientForm.controls.password.valid || clientForm.controls.password.untouched">veuillez entrer un mot de passe</span>
                        <div class="form-group ">

                            <a [routerLink]="['../sessionCostumer']"> <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">se connecter</button></a>
                            <button class="btn btn-danger ">annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clear-both"></div>
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>suivre des sites profesionnelles</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</aside>

<!-- /.banner -->