<app-navigation></app-navigation>
<!-- Header -->
<header class="intro-header">
    <h4 class="pull-right index" *ngIf=" (time | date:'HH')<=12" > bonjour {{ name }}</h4>
    <h4 class="pull-right index" *ngIf=" (time | date:'HH')>12" > bonsoir {{ name }}</h4>
    <section class="ancres-header">
        <div class="head">
    <a >Nos offres</a>
        </div>
        <div class="foot">
             <a>Newsletter</a>
        </div>
    </section>
    <div class="container">
        <div class="intro-message">
            <h1>Orientation academique et professionnelle </h1>
            <hr class="intro-divider">
        </div>
    </div>
</header>

<div class="separators"> </div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container main">
<!--navigaton side-->
     <section class="section-nav-side-menu clear-left">
        <div class="nav-side-menu">
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">

                    <li data-toggle="collapse" data-target="#products" class="collapsed active">
                        <a href="#"><i class="fa fa-gift fa-lg"></i>Consulter les offres <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li><a href="#">offre d'emploi</a></li>
                        <li><a href="#">offre de stage</a></li>
                        <li><a href="#">offre de bourse</a></li>
                        <li><a href="#">conseiller d'orientation</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a [routerLink]="['../basket']"><i class="fa fa-user fa-lg"></i>Gerer son panier<span class="arrow"></span></a>
                    </li>


                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a [routerLink]="['../bookshop']"><i class="fa fa-globe fa-lg"></i> Librairie <span class="arrow"></span></a>
                    </li>
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a [routerLink]="['../postTestimony']"><i class="fa fa-globe fa-lg"></i> Poster temoignage<span class="arrow"></span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    <!-- Page Content -->
    <section class="section-article">
            <div class="article clear-left" id="ourOffer">
                <div id="body-right">

                    <div class="box">
                        <img src="https://previews.123rf.com/images/coramax/coramax1209/coramax120900095/15117889-3d-personnes-homme-personne-lit-un-livre-le-dos-appuy-contre-une-pile-de-livres-Banque-d%27images.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres de bourse</h2>

                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="https://www.babelio.com/users/liste_Les-livres-les-plus-attendus-de-la-rentree-littera_9705.jpeg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres stage</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQaHRv5z8jmlvreNfWXSEiQ-lMDB7phBZ6TQKrQHpIDiLjQ-1k" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>Offres d'emploi</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="http://www.enviedecrire.com/wp-content/uploads/ecrire-un-livre-jeunesse.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2>programmes scolaire et academique</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box">
                        <img src="http://acheter.mon-livre-en-ligne.com/wp-content/uploads/sites/3/2015/01/Acheter-mon-livre-en-ligne-collection-librairie-livres1.jpg" alt="" class="clear-left" height="86" width="130" />
                        <div class="titleRubric" style="background-color:#375A7F;">
                            <h2> les specialités scolaire et academique</h2>
                        </div>
                        <div class="btns">
                            <a><span>voir plus</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </section>
    <section class="section-pub clear-left">
                <div class="content-aside  col-lg-3">

                    <h3 class="pub">publicité </h3>

                </div>
            </section>
</div>
<div class="clear-both"></div>