        body {
            height: 100%;
            background-repeat: no-repeat;
            font-family: 'Oxygen', sans-serif;
            background-size: cover;
            z-index: 1;
        }
        
        .cadre {
            background-color: #375A7F;
            width: 300px;
            height: 300px;
            margin-left: 250px;
            margin-top: 50px;
            padding-top: -100px;
            padding-bottom: 50px;
            padding-left: 50px;
            z-index: 10;
            font-weight: bold;
            color: black;
            border-radius: 5px;
        }
        
        .ng-valid {
            border-color: green;
        }
        
        .ng-invalid {
            border-color: red;
        }