<!-- Navigation -->
<div class="nav">
    <div class="navbar navbar-defaultt navbar-fixed-top  navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a [routerLink]="['../home']"> Accueil</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['../services']" id="themes">services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="../default/">conseiller d'orientation</a></li>
                            <li class="divider"></li>
                            <li><a href="../cerulean/">offres de bourses</a></li>
                            <li><a href="../yeti/">offres d'emplois</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['../contacts']">Contacts</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['../about']" id="download">A propos <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="">navigation</a></li>
                            <li class="divider"></li>
                            <li><a href="">presentation</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [routerLink]="['../loginCostumer']"><span class="glyphicon glyphicon-user"></span> se connecter</a>
                    </li>
                    <li>
                        <a [routerLink]="['../account']"><span class="glyphicon glyphicon-user"></span> creer un compte client</a>
                    </li>
                </ul>
                <form class="navbar-form pull-right">
                    <input type="search" name="" class="input-small form-control" placeholder="Recherche">
                    <button class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>Rechercher</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="separator"></div>
<!-- Header -->
<header class="intro-header">
    <section class="ancres-header">
        <div class="head">
            <!-- <a href="#ourOffer">Nos offres</a> -->
    <a>Nos offres</a>
        </div>
        <!--  <div class="middle">
            <a href="#newsletter">blabla</a>
        </div>-->
        <div class="foot">
             <a>Newsletter</a>
           <!--  <a [routerLink]="['../newsletter']">Newsletter</a> -->
        </div>
    </section>
    <div class="container">
        <div class="intro-message">
            <h1>Orientation academique et professionnelle </h1>
            <hr class="intro-divider">
        </div>
    </div>
</header>


<div class="separators"> </div>
<div class="container back">
    <!--navigaton side-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Page Content -->
    
    
</div>
<div class="clear-both"></div>
<div id="newsletter"></div>


<!-- /.banner -->
<!-- Zone reserver aux modals-->
<!-- -->