        body {
            height: 100%;
            background-repeat: no-repeat;
            font-family: 'Oxygen', sans-serif;
            background-size: cover;
            z-index: 1;
        }
        
        .container {
            background-color: #CCC;
            width: 500px;
            height: 500px;
            margin-left: 60px;
            margin-top: 50px;
            padding-top: -100px;
            padding-bottom: 50px;
            z-index: 10;
            font-weight: bold;
            color: black;
        }
        
        .cadre {
            margin: 50px 15px;
        }