<div class="container">
    <div class="row cadre ">
        <form [formGroup]="helloForm" (ngSubmit)="onSubmit();" class="">
            <div class="form-group">
                <label for="title" class="cols-lg-2 control-label">titre</label>
                <div class="cols-lg-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Entrez le titre " />
                    </div>
                </div>
            </div>
            <span *ngFor="let item of collectionJson">
                <span *ngIf="item.userId == 1">something wrong</span>
            </span>
            <div class="form-group">
                <label for="content" class="cols-lg-2 control-label">contenu</label>
                <div class="cols-lg-8">
                    <div class="input-group">
                        <textarea class="form-control" name="articleContent" placeholder="Entrez le contenu"> </textarea>
                    </div>
                </div>
            </div>
            <span *ngFor="let item of collectionJson">
                <span *ngIf="item.userId == 1">something wrong</span>
            </span>
            <div class="form-group ">
                <button class="btn btn-primary " (click)="onSubmit()">creer article</button>
            </div>
        </form>
    </div>
</div>